html{
    font-family: 'DM Sans', 'sans-serif';
}
#title-bar{
    width: 100%;
    background-color: #eee;
    padding:10px;
    position: fixed;
}
#title{
    display:inline-block;
    font-weight: 700;
    font-size:1.5em;
}
input{
}
.card{
    background-color: white;
    box-shadow: 1px 10px 27px -4px rgba(0,0,0,0.2);
    margin:10%;
    padding: 30px;
}

form{
    display:flexbox;
}

.field-column{
    margin:10px;
    display:block;
    width:80%;
    height: 30px;
    max-width: 60%;
}
