html{
    font-family: 'DM Sans', 'sans-serif';
}
#title-bar{
    color: white;
    border-radius: 10px;
    width: 100%;
    background-color:#3f51b5;
    box-shadow: 1px 10px 27px -15px rgba(0,0,0,0.5);
    display: flex;
}

a {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

#title{
    display:flex;
    font-weight: 700;
    font-size: 25px;
    padding:10px;
}
.field-column{
    display:block;
    font-size: 20px;
}
h1{
    font-size: 40px;
}
.login-form{
    font-size: 40px;
    padding:20px;
    display:flex;
    flex-direction: column;
}
.login{
    width: 100%;
    height: auto;
    
    padding:10px;
    margin:50px 0px;
}
p{
    font-size: 30px;
}
.flex-container{
    display:flex;
    flex-direction: column;
}
.banner{
    max-width:60%;
    width: 700px;
    margin: 5%;
    align-self: center;
}
.card{
    margin:2%;
    background-color: #ffffffaa;
    box-shadow: 1px 10px 27px -4px rgba(0,0,0,0.05);
    border-radius: 10px;
    padding:30px;
}
button{
    height:50px;
    color:white;
    border-radius: 2%;
    font-size:20px;
    padding:10px;
    background-color: #374fd8;
    border:none;

    font-weight: 400;
    
}
button:active{
    background-color: #212d70;
    transition: 0.2s;
}
.cardbutton{
    font-size:30px;
    font-weight: 700;
}

.popup{
    margin:5%;
    padding: 30px;
}  
.login-form>button{
    background-color: #3f51b5;
    border: none;
    border-radius: 5px;
    height: 70px;
    color:white;
    box-shadow: 5px 5px 10px -4px rgb(0,0,0,0.1);
}
.login-form>button:active{
    background-color: #212d70;
    transition:0.2s;
}
.login-form>button:hover{
    background-color: #374fd8;
    transition:0.2s;
}
.login-form>input{
    height:60px;
    width: 100%;
    font-size:30px;
}

/*Desktop*/
@media (min-width: 1000px) {
    .flex-column{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .flex-container{
        max-width: 50%;
    }
    .login-form>input{
        height:30px;
        width: 60%;
        font-size:15px;
    }
    .login-form>button{
        background-color: #3f51b5;
        border: none;
        border-radius: 5px;
        height: 40px;
        color:white;
        box-shadow: 5px 5px 10px -4px rgb(0,0,0,0.3);
    }
    #title{
        display:inline-block;
        font-weight: 700;
    }
    .popup{
        margin: 0% 30%;
        height: 100%;
    }
    form{
        margin: 0;
        padding: 0;
    }   
    .field-column{
        margin:10px;
        display:block;
        width:60%;
        height: 30px;
        max-width: 60%;
    }
    .card{
        background-color: #ffffffaa;
        box-shadow: 1px 10px 27px -4px rgba(0,0,0,0.1);
        border-radius: 10px;
        padding:30px;
        margin:10px;
    }
    p, h1, h2 {
        width: 85%;
        font-size: 30px;
    }
    input{
        font-size:20px;
    }
    form{
        font-size:20px;
    }
    p{
        font-size: 20px;
    }
    .cardbutton{
        width: 150px;
        height:40px;
        font-size: 15px;
    }
    .login-form>label{
        font-size:30px;
    }
    .field-column{
        display:block;
        font-size: 15px;
    }
}


#background{
/*    background-image:-webkit-linear-gradient(white,#3f51b5);*/
    height:100%;
}