.info-field-title{
    font-size: 1em;
    display:block;
}
.info-field-text{
    font-size:1.2em;
    font-weight: 700;
}
td{
    padding:8px;
}

#personal-page-container{
    display:grid;
   
}

#info-panel-container{
    grid-row: 1/2;
    grid-column: 1/1;
    max-width: 320px;
    margin-top:20px;
    position: sticky;
    
}
#access-list-container{
    grid-column: 1/1;
    grid-row: 2/2;
    margin-top:20px;
}
#info-panel{
    padding:0px 10px;
    position:sticky;
    display:grid;
    }
.info-panel:nth-child(odd){
    grid-column:1/2;
    color:red;
}
.info-panel:nth-child(2){
    grid-column:1/2;
}
/*Desktop*/
@media (min-width: 1000px) {
    .inline-fields{
        font-size:20px;
    }
    #personal-page-container{
        grid-template-columns: auto minmax(0, 1fr);
    }   
    #info-panel-container{
        grid-column: 1/2;
        max-width: 320px;
        margin-top:20px;
        position: sticky;
        
    }   
    #access-list-container{
        grid-column: 2/2;
        grid-row: 1/1;
        margin-top:20px;
    }

  #info-panel{
    padding:1000px;
    position:sticky;
    }
}
