.info-field-title{
    font-size: 1em;
    display:block;
}
.info-field-text{
    font-size:1.2em;
    font-weight: 700;
}
td{
    padding:8px;
}
#qrcode{
    align-self: center;
}
#personal-page-container{
    display:grid;
   
}

#info-panel-container{
    grid-row: 1/2;
    grid-column: 1/1;
    max-width: 320px;
    margin-top:20px;
    position: sticky;
    
}
#access-list-container{
    grid-column: 1/1;
    grid-row: 2/2;
    margin-top:20px;
}
#info-panel{
    padding:0px 10px;
    position:sticky;
    display:flex;
    flex-direction: column;
    }
.info-panel:nth-child(odd){
    grid-column:1/2;
    color:red;
}
.info-panel:nth-child(2){
    grid-column:1/2;
}
.personal-info-fields{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 4;
}
.info-field{
    padding:20px;
}
/*Desktop*/
@media (min-width: 1000px) {
    .inline-fields{
        font-size:20px;
    }
    #personal-page-container{
         display:flex;
         align-items: flex-start;
    }   
    #info-panel{
        
        max-width: 300px;
        margin-top:20px;
    }   
    #access-list-container{
        margin-top:20px;
        padding:20px;
    }
 
}
