
radio-buttons{
    display: inline-block;
}

field-inline{
    display:inline;
}
field-column{
    display:inline;
    padding:20px;
}

inline-fields{
    width: 100%;
}

.confirm-button{
    float:right;
    display: block;
    font-size: 30px;
    width: 100%;
}
.register-form{
    max-width: 500px;
}
.register-form>*>label{
    font-size:20px;
    font-weight: 400;
}
.register-form>*>*>label{
    font-size:20px;
    font-weight: 400;
}


.register-form>*>input{
    width:100%;
    height:40px;
}
.field-column-register{
    display:block;
    font-size: 15px;
    margin:10px;
    height:30px;
}
#name-fields>*{
    grid-row:1/6;
    grid-column:1/1;
    display:flex;
    flex-direction: column;
}

#email-fields>*{
    grid-row: 2/6;
    grid-column:1/1;
    display:flex;
    flex-direction: column;
}
#username-field>*{
    grid-row: 3/6;
    grid-column:1/1;
    flex-direction: column;
    width: 94%;
}
.register-form>*>*>input{
    height: 40px;
}
#password-fields>*{
    grid-row:4/6;
    grid-column:1/1;
    display:flex;
    flex-direction: column;
}
#last-fields>*{
    grid-row:5/6;
    grid-column:1/1;
    display:flex;
    flex-direction: column;
}
@media (min-width: 1000px) {
    .max-fields{
        width:100%;
    }
    .max-fields>input{
        width:100%;
    }
    .field-column-register{
        display:block;
        font-size: 15px;
        margin:10px;
        height:30px;
    }
    .register-form>input[name="name"]{
        background-color:red;
    }
    
    .register-form{
        width:100%;
    }
    #name-fields{
        grid-row:1/6;
        grid-column:1 / span 2;
        display:flex;
    }
    .register-form>*>*>input{
        width:300px;
        height: 40px;
    }
    #email-fields{
        grid-row: 2/6;
        grid-column:1 / span 2;
        display:flex;
    }
    #username-field{
        grid-row: 3/6;
        grid-column: 1 / span 2;
        width: 670px;
    }
    #password-fields{
        grid-row:4/6;
        grid-column: 1 /span 2;
        display:flex;
    }
    #last-fields{
        grid-row:5/6;
        display:flex;
    }
    .confirm-button{
        grid-column: 1/2;
        margin:30px;
        font-size:20px;
        width:200px;
        border-radius: 10px;
        position: absolute;
    }
}

.error{
    color:red;
    font-size: 15px;
}